<footer class="text-lg-start">
    <div *ngIf="showTopFooter" class="top-footer">
        <!-- Grid container -->
        <ds-themed-text-section *ngIf="hasSiteFooterSections" [sectionId]="'site'" [textRowSection]=section [site]="(site | async)"></ds-themed-text-section>
        <div *ngIf="!hasSiteFooterSections" class=" container p-4">
            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
                    <h5 class="text-uppercase">Join MORI!</h5>
                    <p>
                        Individual researchers can create profile for self-service management. For the institutions, please contact the MORI maintainer.
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Need help?</h5>
                    <p><a href="/info/feedback">Get in touch</a> to learn how MORI meets your needs. Or, Join an international community of
                        <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.
                    </p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
        <div class="content-container">
            <p class="m-0">
                {{ 'footer.link.mori' | translate }} {{ 'footer.copyright' | translate }} {{ 'footer.built-with' | translate }}
                <a class="text-white" href="https://wiki.lyrasis.org/display/DSPACECRIS/">{{ 'footer.link.dspace-cris' | translate}}</a>
            </p>
            <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
                <li>
                    <a class="text-white" href="javascript:void(0);" (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
                </li>
                <li>
                    <a class="text-white" routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
                </li>
                <li>
                    <a class="text-white" routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
                </li>
                <li>
                    <a class="text-white" routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Copyright -->
</footer>