<div class="background-image-container">
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <ds-themed-text-section *ngIf="hasHomeNewsMetadata; else dsDefaultHomeNews" [sectionId]="'site'" [textRowSection]="homeNewsSection" [site]="(site$ | async)"></ds-themed-text-section>
        </div>
    </div>
    <picture class="background-image">
        <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
        <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
        <img alt="" [src]="'assets/dspace/images/banner.jpg'" />
        <!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
    </picture>
    <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>

<ng-template #dsDefaultHomeNews>
    <div class="d-flex flex-wrap">
        <div>
            <h1 class="display-3">Mongolian Research Infrastructure</h1>
            <p class="lead">Welcome to the Mongolian Research Infrastructure (MORI), digital repository of Mongolian research institutions and universities.</p>
        </div>
    </div>
    <p>
        MORI adopts and ensures compliance with international standards and practices to facilitate interoperability, data transfer and sharing. Key features:
    </p>

    <ul>
        <li>Researchers can create their profile with ORCID authentication
        </li>
        <li>Integration with several external data sources, including Scopus, to retrieve bibliographic and bibliometric data
        </li>
        <li>Support for decentralised management, self-service researcher profile management and institutional approval workflows
        </li>
        <li>Data quality tools ensure that your information is always complete and accurate</li>
    </ul>

</ng-template>